<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Text Analysis</title>
    <!--<link rel="stylesheet" href="../public/css/style.css">-->
    <!--we change route directory a bit for line just above because it is now set in the server template path-->
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="http://cdn.rawgit.com/noelboss/featherlight/1.3.2/release/featherlight.min.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/featherlight/1.3.2/featherlight.min.js"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js"></script>-->
    <style>
        body {
            color: white;
        }
    </style>
    <script>
        /////////////////////////////
        // HANDLEBARS OBJECT ERROR //
        /////////////////////////////
        // handlebars doesn't manipulate objects/JSON correctly
        // the simplest solution is passing the JSON as string and converting into JSON on the page 
        // however my stringified JSON was passed with "&quot;" instead of double quote passed (!?)
        //https://stackoverflow.com/questions/25443682/js-how-right-replace-quot-on-quotes
        console.log(JSON.parse('{{record}}'.replace(/&quot;/g, '"')));

        // Other solutions for a better manipulation of JSONs in handlebars use helpers
        // They didn't work for me, likely because the helper must be registered in the server
        //-- https://stackoverflow.com/questions/19247150/is-it-possible-to-access-the-data-that-is-sent-to-handlebars-through-js-inside-t
        //-- https://stackoverflow.com/questions/18085301/pass-javascript-object-hash-to-handlebars-helper/18546138#18546138
        //-- https://stackoverflow.com/questions/34039555/display-json-data-using-handlebars-js

        $(function() {
            var record = JSON.parse('{{record}}'.replace(/&quot;/g, '"'));
            var poststs = record.wPERst;

            function linesTemplate() {
                for (var i = 0; i < poststs.length; i++) {
                    var st = [];
                    //console.log(i, poststs[i]["tokens"]);
                    (function(st) {
                        poststs[i]["tokens"].forEach(function(ws, i) {
                            //console.log(ws["ltoken"]);
                            st.push('<span style="opacity:' + ws["val"] + ';">' + ws["ltoken"] + '</span>');
                        });
                    })(st)
                    //console.log(st);
                    $('#sentences').append('<tr><td>' + i + '</td><td><input id="checkbox_type_' + i + '" type="checkbox" name="sts_type" value=' + i + '></td><td><input id="checkbox_highlight_' + i + '" type="checkbox" name="sts_hl" value=' + i + ' checked></td><td class="sentence" id="sentence_' + i + '">' + st.join(' ') + '</td></tr>');
                };
            };

            function bow() {
                var w = {};
                for (var i = 0; i < poststs.length; i++) {
                    for (var k = 0; k < poststs[i]['tokens'].length; k++) {
                        console.log(poststs[i]['tokens'][k]['ltoken']);
                        if (w.hasOwnProperty(poststs[i]['tokens'][k]['ltoken'])) {
                            w[poststs[i]['tokens'][k]['ltoken']]['count'] = w[poststs[i]['tokens'][k]['ltoken']]['count'] + 1;
                        } else {
                            w[poststs[i]['tokens'][k]['ltoken']] = {};
                            w[poststs[i]['tokens'][k]['ltoken']]['count'] = 1;
                            w[poststs[i]['tokens'][k]['ltoken']]['opacity'] = poststs[i]['tokens'][k]['val'];
                        };

                    };
                };

                console.log(w);
                var sortable = [];
                var wordkeys = Object.keys(w);
                console.log(wordkeys);
                for (var l = 0; l < wordkeys.length; l++) {
                    sortable.push([wordkeys[l], w[wordkeys[l]]['opacity'], w[wordkeys[l]]['count'], (Number(w[wordkeys[l]]['opacity']) + 1) / w[wordkeys[l]]['count']]);
                };
                console.log(sortable.sort(function(a, b) {
                    return a[1] - b[1]; //the "opacity" value is a good one for mood analysis...
                    //return b[3] - a[3];
                }));
            };

            bow();


            linesTemplate();
            //https://stackoverflow.com/questions/426258/setting-checked-for-a-checkbox-with-jquery
            //https://www.w3schools.com/jquery/event_change.asp

            $("input[name='sts_hl']").change(function() {
                //alert("The text has been changed.")
                var index = $(this).attr('value');
                var st = [];
                if (!this.checked) {
                    //console.log(poststs[$(this).attr('value')])
                    poststs[index]["tokens"].forEach(function(ws, i) {
                        //console.log(ws["ltoken"]);
                        if (!$("#checkbox_type_" + index).is(':checked')) {
                            st.push(ws["ltoken"]);
                        } else {
                            st.push(ws["token"]);
                        };
                    });

                } else {
                    poststs[index]["tokens"].forEach(function(ws, i) {
                        if (!$("#checkbox_type_" + index).is(':checked')) {
                            st.push('<span style="opacity:' + ws["val"] + ';">' + ws["ltoken"] + '</span>');
                        } else {
                            st.push('<span style="opacity:' + ws["val"] + ';">' + ws["token"] + '</span>');
                        };
                    });
                }
                $('#sentence_' + index).html(st.join(' '));
            });


            //https://j11y.io/javascript/replacing-text-in-the-dom-its-not-that-simple/
            $("input[name='sts_type']").change(function() {
                //alert("The text has been changed.")
                var index = $(this).attr('value');
                var st = [];
                if (this.checked) {
                    //console.log($("#checkbox_highlight_" + index).is(':checked'));
                    //console.log(poststs[$(this).attr('value')])
                    poststs[index]["tokens"].forEach(function(ws, i) {
                        //console.log(ws["ltoken"]);
                        if ($("#checkbox_highlight_" + index).is(':checked')) {
                            st.push('<span style="opacity:' + ws["val"] + ';">' + ws["token"] + '</span>');
                        } else {
                            st.push(ws["token"]);
                        };
                    });

                } else {
                    poststs[index]["tokens"].forEach(function(ws, i) {
                        if ($("#checkbox_highlight_" + index).is(':checked')) {
                            st.push('<span style="opacity:' + ws["val"] + ';">' + ws["ltoken"] + '</span>');
                        } else {
                            st.push(ws["ltoken"]);
                        };
                    });
                }
                $('#sentence_' + index).html(st.join(' '));
            });

        })
    </script>
</head>

<body>
    <table id="sentences">
    </table>
</body>

</html>